@import "~nouislider/distribute/nouislider.min.css";
/*Volume Slider*/
/*Video Slider and Tooltip*/
/*assets/images/volume.svg*/
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.50;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}
#slider {
	.noUi-connects {
		background: #bababa;
	}
}
.volumeslider {
	&::-webkit-slider-thumb {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background: #F90;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: 0px;
	}
	cursor: pointer;
	left: -30% !important;
}
.volumesliderDisable {
	&::-webkit-slider-thumb {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: rgba(192,192,192,192);
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: 0px;
	}
	cursor: pointer;
	left: -30% !important;
	cursor: default;
}
#controlsContainer {
	display: flex;
	align-items: center;
	margin: 0;
	clear: both;
	position: absolute;
	height: 6.08%;
	width: 100%;
	z-index: 1200;
	opacity: .9;
	bottom: 0;
	background: #000;
}
.slider.slider-horizontal {
    .slider-track {
        height: 5px !important;
        margin-top: -4px !important;
    }
}
.slider.slider-horizontal {
    .slider-track {
        height: 5px !important;
        margin-top: -4px !important;
    }
}
.slider-handle {
    top: -2px !important;
    width: 18px !important;
    height: 18px !important;
}
.slider {
	.tooltip.top {
		margin-top: -28px !important;
	}
}
.tooltip.top {
	.tooltip-arrow {
		display: none !important;
	}
}
.tooltip-inner {
	padding: 0px 8px !important;
	background-color: transparent !important;
	font-size: 1.3rem !important;
}
.fadeInAnimation {
	opacity: 1;
	animation: fadeIn 0.5s linear;
}
#autoPlayOnOffContainer {
	width: 9.2% !important;
	padding: 0 !important;
	position: absolute;
	right: 9%;
}
#volumeContainer {
	position: absolute !important;
	right: 2.5%;
	cursor: pointer;
}
div#MuteVarTemp {
	&::after {
		content: '';
		background: rgba(0, 0, 0,.7) !important;
		border-radius: 3vmin;
		height: 321%;
		width: 100%;
		position: absolute;
		left: 1%;
		bottom: -13%;
		z-index: -1;
		cursor: default;
	}
}
.hideAutoplay {
	visibility: hidden !important;
	pointer-events: none;
}
@media (max-width: 954px) {
	#autoPlayOnOffContainer {
		label {
			font-size: .7em !important;
		}
	}
}
@media (max-width: 800px) {
	#volumeContainer {
		width: 3vmax !important;
		display: flex !important;
		justify-content: center;
		#MuteVarTemp {
			top: -214% !important;
			&::after {
				height: 290%;
				width: 82%;
				left: -3%;
			}
			input[type="checkbox"]{
				margin-left: 0 !important;
				bottom: -6px !important;
				left: -0.6vmax !important;
			}
			label {
				left: -13% !important;
				width: 4vmax;
				top: -4px !important;
				font-size: .8em !important;
			}	
		}				
	}
	#autoPlayOnOffContainer {
		width: 9vmax !important;
		max-width: 100% !important;
		display: flex !important;
		align-items: center;		
		label {
			font-size: 1.3vmax !important;
			top:4px !important;
		}
		input[type="checkbox"]{
			top: 2px !important;
			width: 1.3vmax;			
		}
	}
	.autoPlayOnOffContainerInner{
		display: flex;
		margin-top: 1vmax;
	}
	img[src='assets/images/volume.svg'] {
		// max-width: 2.3vmax !important;
		position: relative;
	}
	#volume-bar{
		top: -422% !important;//-285% !important
		&.volumeslider {
			left: auto !important;
			height: 4px !important;
			&::-webkit-slider-thumb {
				height: 15px;
				width: 15px;
				border-radius: 50%;
				background: #F90;
				cursor: pointer;
				-webkit-appearance: none;
				margin-top: 0px;
			}
		}	
	}


}
@media (min-width: 576px) {
	.col-sm-1 {
		flex: none;
	}
}
