/* .modal .optionsBlock {
  margin: 2% 0;
} */
/*#puzzleBlock12 .zoomInAnimation {
  animation: zoomIn 0.5s linear;
  transform: scale(var(--scaleValue, 2.4));
}

#puzzleBlock9 .zoomInAnimation {
  animation: zoomIn 0.5s linear;
  transform: scale(var(--scaleValue, 2.2));
}*/
/*.zoomInAnimation {
  animation: zoomIn 0.5s linear;
  transform: scale(var(--scaleValue, 1.2));
}*/
/*.zoomOutAnimation {
  animation: zoomOut 0.5s linear;
  transform: scale(var(--scaleValue, 1.0));
}*/
@keyframes zoomIn {
	0% {
		transform: scale(var(--scaleValue, 1.0));
	}
	100% {
		transform: scale(var(--scaleValue, 1.2));
	}
}
@keyframes zoomOut {
	0% {
		transform: scale(var(--scaleValue, 1.2));
	}
	100% {
		transform: scale(1.0);
	}
}
@keyframes shake {
	10%,90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,50%,70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,60% {
		transform: translate3d(4px, 0, 0);
	}
}
/* Modal */
/*.close {
    height: 95%;
    margin-right: .3%;
  }*/
/*.modal-header {
  padding: .5%!important;
  height: 7vmin; 
  position: relative;
  top: 0;
  width: 100%;
  border: solid .7vmin #85d222;
  border-bottom: none !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #248446;
}
.modal-header:before,
.modal-header:after {
  content: none;
}*/
/*.modal-body {
  background: #afdec0;
  border: solid .7vmin #85d222;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}*/
/*.puzzleBlock div img:nth-child(2) {
    max-width: 28%
  }*/
/*.puzzleBlock div img:nth-child(4) {
    max-width: 24%
  }*/
/*#puzzleBlock9 img {
    max-width: 25%;
  }*/
/*#puzzleBlock9 div img:nth-child(2),
  #puzzleBlock9 div img:nth-child(3) {
    max-width: 22.8%;
  }*/
/*#puzzleBlock4 div:nth-child(1) img:nth-child(2),
#puzzleBlock4 div:nth-child(2) img:nth-child(1) {
  max-width: 37.5%;
}*/
@keyframes scaleit {
	0% {
		transform: scale(.9);
		opacity: .0;
	}
	90% {
		transform: scale(1.1);
		opacity: .7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes scaleitModal {
	0% {
		transform: scale(1);
		opacity: .0;
	}
	50% {
		transform: scale(1.1);
		opacity: .7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
/*#container #navBlock .prevBtn:hover,
#container #navBlock .nextBtn:hover {
  -webkit-animation-name: moveLeft; 
  -webkit-animation-duration: .3s; 
  animation-name: moveLeft;
  animation-duration: .3s;
  animation-iteration-count: infinite;
}

#container #navBlock .nextBtn:hover {
  -webkit-animation-name: moveRight; 
  animation-name: moveRight;
}

@keyframes moveLeft {
  0% {
    left: 3.2%;
  }

  100% {
    left: 2%;
  }
}

@keyframes moveRight {
  0% {
    right: 3.3%;
  }

  100% {
    right: 2%;
  }
}*/
/*.mTopBottom {
  margin-bottom: 2%;
  margin-top: 2%;
}*/
/*#burst {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
}*/
/*confirm modal*/
/*.confirm_modal_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}*/
/*#confirmModal .modal-title {
  margin-left: 3%;
  font-size: auto;
}
#confirmModal .close {
  margin: -.1% 1.6% 0 auto	;
}*/
/*#confirmModal .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-top: none;
  position: absolute;
  width: 100%;
  bottom: 16%;
}
#confirmModal .modal-footer button {
  width: 13%;
  border: none;
  background: transparent;
}
#confirmModal .popupModelBody {
  padding: 0;
}*/
/* Modal */
@keyframes fadeOut {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/*#modalTemp9 #instructionBarFeedback .instructionBase {
  width: 100% !important;
  position: relative;
  cursor: default;
}*/
button {
	&:focus {
		outline: 0 !important;
		outline: none;
	}
}
.hideit {
	display: none !important;
}
.showit {
	display: block !important;
}
.dispFlex {
	display: flex !important;
}
* {
	box-sizing: border-box;
	&:before {
		box-sizing: border-box;
	}
	&:after {
		box-sizing: border-box;
	}
}
#container {
	position: relative;
	padding: 0;
	#bgImage {
		img {
			width: 100%;
		}
	}
	#optionsBlock12 {
		width: 57%;
		height: 100%;
		margin-top: 2.5%;
	}
	#optionsBlock9 {
		width: 57%;
		height: 100%;
		margin-top: 2.5%;
		width: 50%;
		margin-top: 3%;
	}
	#optionsBlock4 {
		width: 57%;
		height: 100%;
		margin-top: 2.5%;
		width: 45%;
		margin-top: 3%;
	}
	#navBlock {
		position: absolute;
		bottom: 6%;
		left: 0%;
		width: 100%;
		.navBase {
			position: relative;
			width: auto;
			margin-right: .7%;
		}
		.prevBtn {
			cursor: pointer;
		}
		.nextBtn {
			cursor: pointer;
		}
		.ansBtn {
			cursor: pointer;
			margin-left: .7%;
			width: 3.5%;
		}
	}
	.quesBlock {
		position: absolute;
		left: 0%;
		top: 3%;
		width: 100%;
		height: 5.5%;
		display: flex;
		justify-content: center;
		img {
			cursor: pointer;
		}
	}
	#instructionBar {
		position: absolute;
		top: 10%;
		width: 100%;
		text-align: center;
	}
	.modal {
		.instructionBar {
			top: 1%;
		}
	}
}
.bodyContent {
	position: absolute;
	top: 18%;
	width: 100%;
	left: 0;
	height: 69%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	.refQues {
		width: 35%;
		text-align: center;
		position: relative;
	}
}
.shadowBlock {
	position: absolute;
	box-shadow: 1vmin 1vmin #000;
	border-radius: 3.7vmin;
	border: solid 1px transparent;
	opacity: .5;
}
#puzzleBlock4 {
	.shadowBlock {
		left: 6.5%;
		top: 3%;
		width: 41.6%;
		height: 94%;
		border-radius: 5.5vmin;
	}
	div {
		justify-content: space-evenly;
	}
	img {
		max-width: 36%;
	}
}
#puzzleBlock9 {
	.shadowBlock {
		left: 6.4%;
		top: 2.7%;
		width: 41.3%;
		height: 93.5%;
		border-radius: 4.5vmin;
	}
	top: 30%;
	div {
		justify-content: space-evenly;
	}
}
#puzzleBlock12 {
	.shadowBlock {
		left: 3%;
		top: 3%;
		width: 54.6%;
		height: 93.2%;
	}
}
#optionsBlock12 {
	img {
		position: relative;
		max-width: 100%;
	}
	.options {
		width: 25%;
		animation: scaleit 0.7s ease-in;
	}
	.quesImage {
		.options {
			position: absolute;
			left: 0;
		}
		&:nth-child(1) {
			.options {
				&:nth-child(2) {
					left: 19.3%;
					width: 35.3%;
				}
				&:nth-child(3) {
					left: 48.8%;
				}
				&:nth-child(4) {
					left: 68%;
					width: 30.1%;
				}
			}
		}
		&:nth-child(2) {
			.options {
				&:nth-child(1) {
					top: -30%;
				}
				&:nth-child(2) {
					left: 19.1%;
					top: -6%;
					width: 35.7%;
				}
				&:nth-child(3) {
					left: 48.8%;
					top: -30%;
				}
				&:nth-child(4) {
					left: 68%;
					top: -6%;
					width: 30.1%;
				}
			}
		}
		&:nth-child(3) {
			.options {
				&:nth-child(1) {
					top: -12.5%;
				}
				&:nth-child(2) {
					left: 19.3%;
					top: -39%;
					width: 35.3%;
				}
				&:nth-child(3) {
					left: 48.8%;
					top: -12.3%;
				}
				&:nth-child(4) {
					left: 67.9%;
					top: -39.3%;
					width: 30.2%;
				}
			}
		}
	}
}
#optionsBlock9 {
	img {
		position: relative;
		max-width: 100%;
	}
	.options {
		width: 25%;
		animation: scaleit 0.7s ease-in;
		width: 28%;
	}
	.quesImage {
		.options {
			position: absolute;
			left: 0;
		}
		&:nth-child(1) {
			.options {
				&:nth-child(2) {
					left: 21.7%;
					width: 33.6%;
				}
				&:nth-child(3) {
					left: 49%;
					width: 33.6%;
				}
			}
		}
		&:nth-child(2) {
			.options {
				&:nth-child(1) {
					top: -31%;
				}
				&:nth-child(2) {
					left: 21.7%;
					top: -7.7%;
					width: 33.6%;
				}
				&:nth-child(3) {
					left: 49%;
					top: -7.5%;
					width: 33.6%;
				}
			}
		}
		&:nth-child(3) {
			.options {
				&:nth-child(1) {
					top: -15%;
				}
				&:nth-child(2) {
					left: 21.7%;
					top: -41.3%;
					width: 33.6%;
				}
				&:nth-child(3) {
					left: 49%;
					top: -41.3%;
					width: 33.6%;
				}
			}
		}
	}
}
#optionsBlock4 {
	img {
		position: relative;
		max-width: 100%;
	}
	.options {
		width: 25%;
		animation: scaleit 0.7s ease-in;
		width: 47%;
	}
	.quesImage {
		.options {
			position: absolute;
			left: 0;
		}
		&:nth-child(1) {
			.options {
				&:nth-child(2) {
					left: 36.5%;
					width: 56.6%;
				}
			}
		}
		&:nth-child(2) {
			.options {
				&:nth-child(1) {
					top: -6%;
					width: 56.6%;
				}
				&:nth-child(2) {
					left: 46.1%;
					top: -6%;
				}
			}
		}
	}
}
.optionsBlock {
	img {
		position: relative;
		max-width: 100%;
	}
	.options {
		width: 25%;
		animation: scaleit 0.7s ease-in;
	}
	.quesImage.autoWidth {
		.options {
			width: auto;
		}
	}
}
.modal {
	-webkit-box-align: center !important;
	.optionsBlock {
		.options {
			animation: scaleitModal 1s ease-in;
			width: 91%;
		}
	}
	position: absolute !important;
	width: 100%;
	z-index: 100 !important;
	height: 94%;
	justify-content: center;
	align-items: center;
	padding-left: 0px;
	.quesImage {
		align-self: center;
		margin: 1% auto !important;
	}
	.instructionBase {
		width: 100% !important;
		position: relative;
		display: flex;
		justify-content: center;
		cursor: default;
		img {
			max-width: none !important;
			max-height: 7vmin;
		}
	}
}
#modalPartialOptions {
	.optionsBlock {
		margin: 0;
	}
}
.quesImage {
	width: 79%;
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
}
.quesTab {
	width: 20%;
	display: inline-flex;
	flex-grow: 1;
	position: relative;
	img {
		vertical-align: text-bottom;
	}
}
#navBlock {
	.prevBtn {
		cursor: pointer;
		width: 3.5%;
		margin-right: .7%;
	}
	.nextBtn {
		cursor: pointer;
		width: 3.5%;
		margin-right: .7%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.submitBtn {
		cursor: pointer;
		width: 3.5%;
		margin-right: .7%;
		width: 7%;
	}
}
.tabBody {
	flex-grow: 1;
	margin: 0 -1px;
	width: auto;
	height: 100%;
}
.tabLeft {
	width: auto;
	height: 100%;
}
.tabRight {
	width: auto;
	height: 100%;
}
.quesnum {
	position: absolute;
	width: 1vmin;
	height: auto;
	left: 48%;
	top: 30%;
}
.animation-shake {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	animation-iteration-count: infinite;
}
.rightAnsBg {
	animation: scaleit 0.2s ease-in;
}
#correctAns {
	img {
		position: absolute;
		width: 70%;
	}
}
.instructionBar {
	.instructionBase {
		width: 60% !important;
		position: relative;
		cursor: pointer;
	}
}
.instructionBase {
	.instructionText {
		position: absolute;
		top: 0%;
		left: 0;
	}
}
.modal.show {
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.close {
	&:focus {
		color: #000;
		text-decoration: none;
		opacity: 1;
	}
	&:hover {
		color: #000;
		text-decoration: none;
		opacity: 1;
	}
}
.modal-dialog {
	width: 66% !important;
	height: 92%;
	max-width: 66% !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-content {
	background: transparent !important;
	border: 0 !important;
	box-shadow: none !important;
	height: 100%;
}
#modalTemp9 {
	.modal-body {
		flex-wrap: wrap;
		align-content: space-around;
	}
	background: rgba(0, 0, 0, .85);
	#instructionBarFeedback {
		position: relative;
		top: 0;
		width: 100%;
		text-align: center;
		margin-bottom: .9%;
		display: none;
	}
}
.modal-body {
	img {
		max-width: 100%;
	}
}
.modalBodyContent {
	background: #afdec0;
	margin: -1px;
}
.puzzleImg {
	max-width: 48%;
	position: relative;
	top: .7vmin;
}
.puzzleBlock {
	position: absolute;
	top: 29.7%;
	height: 70.1%;
	display: flex;
	justify-content: space-evenly;
	align-items: end;
	align-content: center;
	flex-wrap: wrap;
	padding-top: 2%;
	img {
		position: relative;
		max-width: 24%;
		cursor: pointer;
	}
}
.disable_div {
	pointer-events: none;
}
#confirmModal {
	background: rgba(0, 0, 0, .85);
	.modal-dialog {
		width: 50% !important;
		max-width: 100%;
		height: 36%;
		display: flex;
		justify-content: center;
	}
	.modal-content {
		min-width: auto;
		min-height: auto;
		background-color: transparent;
	}
	.modal-body {
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-end;
		flex: auto !important;
		.msgImage {
			display: block;
			text-align: center;
			img {
				max-width: 100%;
				height: auto !important;
			}
		}
		.actionButtons {
			text-align: center;
			margin: 3% 0 2%;
			width: 100%;
			button {
				border: none;
				background: transparent;
				padding: 0;
				margin: 0;
				width: 18%;
			}
			img {
				width: 80%;
			}
		}
	}
	.modal-header {
		top: 0;
	}
	.bodyText {
		position: absolute;
		top: 30%;
		width: 100%;
		img {
			width: 85%;
		}
	}
}
.displayPopup {
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.fadeOut {
	animation-name: fadeOut;
	animation-duration: 1s;
	animation-fill-mode: both;
}
.classOpacity {
	opacity: 0.3;
}
@media (min-width: 576px) {
	.modal-dialog {
		margin: 0 auto !important;
	}
}
